body{
    height: 100vh;
    margin: 0px;

    font-family: 'Young Serif';
    /* choose a better font after break! */

}

div.content{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr 30px;
    height: 100%;
}

.sidebar{
    background-color: lightblue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.sidebar .project .title {
    font-size: 25px;
}
.sidebar .project li{
    white-space: nowrap;
}

.create-task-btn{
    background-color: rgb(163, 68, 68);
    border-radius: 5px;
    width:fit-content;
    padding: 10px 20px;
    color: whitesmoke;
}

.sidebar .default .title {
    font-size: 20px;
}


.sidebar > .title {
    font-size: 40px;
    margin-bottom: 50px;
}


.project li {
    font-size: 20px;
    list-style-type: none;
}

.dashboard{
    background-color: papayawhip;
    padding: 60px;
}

.dashboard > .title {
    font-size: 40px;
    /* padding-left: 60px; */
}

.title{
    font-size: 30px;
}
form .title {
    font-size: 16px;
}

.card {
    background-color: rgb(197, 157, 108);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
}


.card .title{
    font-size: 16px;
}

.create, .view-task {
    background-color:rgb(104, 102, 102);
    height: 300px;
    width: 220px;
    border-radius: 8px;
    color:antiquewhite;
    
}

.pop-container {
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.199);
}


.footer{
    background-color:rgb(104, 102, 102);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c3f9f1;
    /* font-family: 'Nabla';  its a sussy font owo*/
    /* height: 200px;  The height for the footer is actually set from the (grid-template-rows: 1fr 20px;), grid-template-rows property in the parent container. The '20px' is the height*/
}